<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="Referrer" content="origin">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1190">

  <title>
    <%= setting.siteName %>
  </title>
  <link rel="stylesheet" href="/videojs/video-js.min.css">
  <link rel="stylesheet" href="/css/tailwindcss.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="bg-gray-100">
  <nav class="bg-white shadow">
    <div class="container mx-auto px-8 py-8">
      <div class="flex items-center justify-between">
        <a href="/" class="text-2xl font-bold text-gray-800">
          <%= setting.siteName %>
        </a>
        <ul class="flex space-x-4">
          <li><a href="/" class="text-gray-600 hover:text-gray-800">강의</a></li>

          <% if (currentUser) { %>
            <li><a href="/setting" class="text-gray-600 hover:text-gray-800">환경설정</a></li>
            <li><a href="/auth/logout" class="text-gray-600 hover:text-gray-800">로그아웃</a></li>
            <% } else { %>
              <li><a href="/auth/login" class="text-gray-600 hover:text-gray-800">로그인</a></li>
              <% } %>


        </ul>
      </div>
    </div>
  </nav>

  <main class="container mx-auto px-4 py-8">
    <%- body %>
  </main>

  <footer class="bg-white shadow mt-8">
    <div class="container mx-auto px-4 py-4">
      <p class="text-center text-gray-600">&copy; 2024 <%= setting.siteName %>. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>